body { 
	/* font-family: monospace;  */
	/* font-family:"Courier New", Courier, monospace; */
	font-family:"Lucida Console", Monaco, monospace;
	margin-left: auto; 
	margin-right: auto; 
	/* width: 40%;  */
	/* font-family: Arial, Helvetica, sans-serif; */

	line-height: 1.429;
	/* background-color:black; */
	/* background-image:url(pics/pcb.svg); */

	background:url(pics/pcb_light.svg) top right no-repeat; 
	background-attachment:fixed;
	/* background-size:100% 100%;  */
	background-size:cover;

	/*
	background:url(pics/pcb_dark.svg) top right no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/

	/* color:#e0e0e0; */
	/* color: #e8e1e9; */
	color:#050505;

}

a:link,a:visited {
    /* text-decoration:none; */
    /* color:green; */
    /* color:#00dd00; */
    
    /* color:#006400;  *//* Dark green */
    color:blue;
}

a:hover {
    color:red;
}

li {
    margin:1em;
}

#nav {
    font-weight:bold;
    line-height:30px;
    /*
    background-color:#101010; */
    /* background-color:#f0f0f0; */
    /* width:10em; */
    width:10em;
    padding:5px;
    padding-right:3em;
    padding-left:3em;
    vertical-align:top;
    float:left;
}

#header a:link,
#header a:visited,
#nav a:link ,
#nav a:visited {
    /* text-decoration:none; */
    color:black;
}

#header a:hover,
#nav a:hover {
    color:red;
}
